<% include partials/head.ejs %>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">ORApi - Dashboard</a>
            </div>
            <!-- /.navbar-header -->


        </nav>

        <div id="page-wrapper-without-left-menu" style="padding: 10px 0 0 10px">

            <% include partials/topstats.ejs%>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Fitness Evolution of the transaction <span id="graph-title-transac"></span>
                            <b class="loading loading-disable" style="color: red"> Loading ...</b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Transactions
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Id of the transaction</th>
                                                    <th>Customer</th>
                                                    <th>Type</th>
                                                    <th>Algorithm</th>
                                                    <th>Actual Best Fitness</th>
                                                    <th>Download the best solution</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <% transactions.forEach(function(transac){ %>
                                                <tr class="rowTransac" transac="<%= transac._id %>">
                                                    <td class="loadable"><%= transac._id %></td>
                                                    <td class="loadable"><%= transac.customer %></td>
                                                    <td class="loadable"><%= transac.type %></td>
                                                    <td class="loadable"><%= transac.algorithm %></td>
                                                    <td class="loadable"><%= transac.best_fitness_id.fitness %></td>
                                                    <td><a href="/solution/<%= transac.best_fitness_id._id %>/transac/<%= transac._id %>"><i class="fa fa-download" aria-hidden="true"></i></a></td>
                                                </tr>
                                            <% }); %>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-8 -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/bower_components/raphael/raphael.min.js"></script>
    <script src="/bower_components/morris.js/morris.js"></script>
    <script src="/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/sb-admin-2.js"></script>

</body>

</html>
